.root {
    display: flex;
}

.drawerButton {
    margin: 8px 0 8px 0;
}

.drawerButton:hover {
    background-color: rgb(236, 236, 236);
    border-top-right-radius: 70px;
    border-bottom-right-radius: 70px;
}

.search {
    margin: 5px 5px 5px 5px;
    height: 50px;
    width: 750px;
    display: flex;
    align-items: center;
    background-color: rgb(238, 238, 238);
    border-radius: 8px;
}

.leftSideHeader {
    width: 70%;
    display: flex;
    justify-self: start;
    justify-content: space-between;
}

.searchedButton {
    display: none;
}

.searchIcon {
    margin-left: 3%;
    color: gray;
}

.searchInput {
    margin-left: 4%;
    width: 80%;
}


/* .drawerList {
    padding-left: 10px;
} */

.topBar {
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.headerIcon {
    width: 45px;
}

.startOptions {
    display: flex;
    align-items: center;
}

.buttonContainer {
    display: flex;
}

.headerTitle {
    margin-left: 2%;
    margin-right: 10%;
    color: #5f6368;
    font-size: x-large;
    font-family: "Product Sans", Arial, sans-serif;
}

.ProfileHandler {
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 400px) {
    .headerTitle {
        margin: 1%;
        font-size: 1.1em;
    }
    .headerIcon {
        width: 30px;
    }
    .search {
        margin: 5px 5px 5px 5px;
        height: 50px;
        width: 150px;
        display: flex;
        align-items: center;
        background-color: rgb(238, 238, 238);
        border-radius: 8px;
    }
}